registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
node_mirror=https://npmmirror.com/mirrors/node/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
playwright_download_host=https://npmmirror.com/mirrors/playwright/
